:root {
  --doradoOsc: #BC955B;
  --doradoClr: #DEC9A3;
  --vinoOsc: #691B32;
  --vinoClr: #A02142;
  --grisOsc: #707271;
  --grisClr: #98989A;
  --blanco: #F5F3F5;

  --colorEducacionPublica: #6FA8DC;
  --colorBienestarInclusion: #A8D5BA;
  --colorCultura: #F4A7B9;
  --colorContraloria: #B0B0B0;
}


/* ==========================================================================
   SECCIÓN CARD / MUURI
   ========================================================================== */

.muuri {
  width: 100%;
  padding: 10px;
}

.book-card-container {
  width: 200px;
  height: 280px;
  margin: 10px;
  z-index: 1;
}

img {
  border: 0;
}

.book-card {
  display: block;
  position: relative;
  height: 100%;
  padding: 0.3125em;
  cursor: pointer;
  background: var(--blanco);
  border-radius: 0.15625em;
  transition: box-shadow 0.2s;
}

/* Estilo del título sobre la tarjeta */
.book-card__titulo {
  position: absolute;
  margin-right: 9px;
  background: linear-gradient(to right, var(--vinoOsc), var(--vinoClr));
  z-index: 99;
}

.book-card__titulo h3 {
  margin: 3px;
  color: var(--blanco);
  font-size: 8px;
  font-weight: 400;
}

/* Regla común para algunos tipos (se aplican a la posición y dimensiones) */
.book-card__titulo[data-pokemon-type="secretaria de bienestar e inclusión social"],
.book-card__titulo[data-pokemon-type="secretaría de educación pública"],
.book-card__titulo[data-pokemon-type="secretaría de cultura"],
.book-card__titulo[data-pokemon-type="secretaría de contraloría"],
.book-card__titulo[data-pokemon-type="informes"] {
  bottom: 25%;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  right: 5px;
  width: 85%;
}

.book-card:hover {
  z-index: 5;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3),
    0 0 0 4px hsla(0, 0%, 100%, 0.795),
    0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.book-card__name {
  position: relative;
  z-index: 1;
  height: 1.5625em;
  width: 70%;
  margin: -1.09375em 15% 0;
  text-align: center;
  background: white;
  font-size: 65%;
}

.book-card__name span {
  font-weight: 600;
  position: relative;
  top: 0.418em;
  display: block;
  font-size: 1.16em;
  color: var(--grisOsc);
}

.book-card__name svg {
  display: block;
  position: absolute;
  top: 0.015em;
  height: 1.3125em;
  width: 1.3125em;
  overflow-y: hidden;
  fill: white;
}

.book-card__name svg.left {
  left: -1.25em;
}

.book-card__name svg.right {
  right: -1.25em;
}

.book-card__year {
  position: absolute;
  z-index: 1;
  top: 0.125em;
  left: 50%;
  margin-left: -1.25em;
  width: auto;
  height: 1.09375em;
  text-align: center;
  background: white;
}

.book-card__year span {
  font-weight: 900;
  font-size: 0.6875em;
}

.book-card__year svg {
  display: block;
  position: absolute;
  top: 0;
  height: 1.09375em;
  width: 1.09375em;
  fill: white;
}

.book-card__year svg.left {
  right: 99%;
}

.book-card__year svg.right {
  left: 99%;
}

.book-card__image {
  position: relative;
  z-index: 1;
  padding-bottom: 110%;
  height: 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: rgb(50, 205, 58);
}

.book-card__image img {
  display: block;
  position: absolute;
  top: 49.5%;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  height: auto;
  transform: translateY(-50%);
}

/* -------------------------------
   Estilos específicos según el
   atributo data-pokemon-type
-------------------------------- */

/* Secretaría de educación pública */
.book-card[data-pokemon-type="secretaría de educación pública"] .book-card__year span {
  color: var(--colorEducacionPublica);
}

.book-card[data-pokemon-type="secretaría de educación pública"] .book-card__image {
  background: var(--colorEducacionPublica);
}

.book-card[data-pokemon-type="secretaría de educación pública"] .book-card__image svg polygon {
  fill: var(--colorEducacionPublica);
}

/* Secretaria de bienestar e inclusión social */
.book-card[data-pokemon-type="secretaria de bienestar e inclusión social"] .book-card__year span {
  color: var(--colorBienestarInclusion);
}

.book-card[data-pokemon-type="secretaria de bienestar e inclusión social"] .book-card__image {
  background: var(--colorBienestarInclusion);
}

.book-card[data-pokemon-type="secretaria de bienestar e inclusión social"] .book-card__image svg polygon {
  fill: var(--colorBienestarInclusion);
}

/* Acuerdos */
.book-card[data-pokemon-type="acuerdos"] .book-card__year span {
  color: #b464a0;
}

.book-card[data-pokemon-type="acuerdos"] .book-card__image {
  background: #f0bedc;
}

.book-card[data-pokemon-type="acuerdos"] .book-card__image svg polygon {
  fill: #e6aac8;
}

/* Catálogos */
.book-card[data-pokemon-type="catálogos"] .book-card__year span {
  color: #e6b464;
}

.book-card[data-pokemon-type="catálogos"] .book-card__image {
  background: #fae6be;
}

.book-card[data-pokemon-type="catálogos"] .book-card__image svg polygon {
  fill: #f5d2a0;
}

/* Actas */
.book-card[data-pokemon-type="actas"] .book-card__year span {
  color: #aaa064;
}

.book-card[data-pokemon-type="actas"] .book-card__image {
  background: #e6e6be;
}

.book-card[data-pokemon-type="actas"] .book-card__image svg polygon {
  fill: #d2d2a0;
}

/* Secretaría de cultura */
.book-card[data-pokemon-type="secretaría de cultura"] .book-card__year span {
  color: var(--colorCultura);
}

.book-card[data-pokemon-type="secretaría de cultura"] .book-card__image {
  background: var(--colorCultura);
}

.book-card[data-pokemon-type="secretaría de cultura"] .book-card__image svg polygon {
  fill: var(--colorCultura);
}

/* Secretaría de contraloría */
.book-card[data-pokemon-type="secretaría de contraloría"] .book-card__year span {
  color: var(--colorContraloria);
}

.book-card[data-pokemon-type="secretaría de contraloría"] .book-card__image {
  background: var(--colorContraloria);
}

.book-card[data-pokemon-type="secretaría de contraloría"] .book-card__image svg polygon {
  fill: var(--colorContraloria);
}

/* Informes */
.book-card[data-pokemon-type="informes"] .book-card__year span {
  color: var(--grisClr);
}

.book-card[data-pokemon-type="informes"] .book-card__image {
  background: var(--grisOsc);
}

.book-card[data-pokemon-type="informes"] .book-card__image svg polygon {
  fill: var(--grisOsc);
}

/* ==========================================================================
   TOOLTIP
   ========================================================================== */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: var(--vinoOsc);
  color: var(--blanco);
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  font-size: 12px;
  z-index: 9999;
  bottom: 125%;
  left: 50%;
  margin-left: -40%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--vinoOsc) transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* ==========================================================================
   MEDIA QUERIES (RESPONSIVE)
   ========================================================================== */

@media screen and (max-width: 600px) {

  .book-card__titulo[data-pokemon-type="secretaria de bienestar e inclusión social"] {
    top: 32%;
    right: 1px;
  }

  .book-card__titulo[data-pokemon-type="secretaría de cultura"] {
    bottom: 48%;
  }

  .book-card__titulo[data-pokemon-type="secretaría de contraloría"] {
    top: 38%;
    right: 1px;
  }

  .book-card__titulo[data-pokemon-type="informes"] {
    bottom: 49%;
  }
}

/* 
@media screen and (max-width: 550px) {
  
}

@media screen and (max-width: 380px) and (max-height: 820px) {
 
}

@media screen and (max-width: 380px) {
 
}

@media screen and (min-width: 1020px) {
 
}

@media screen and (min-width: 1440px) {
 
} */